<header class="ui-header">
  <div class="ui-header__row">
    <a (click)="__global.history.back()" class="button text back">Back</a>
    <span class="ui-header__title">[[title]]</span>
  </div>
  <!-- <span class="detail">{{search}}</span> -->
  <ui-textfield id="search" type="search" value="{{search}}"></ui-textfield>
  <!-- <input id="search" type="search"> -->
</header>
<div class="ui-layout ui-layout--v">
  <div class="ui-padding">
    <map-google
      id="map"
      class="flex"
      style="height: 100%"
      zoom="18"
      map="{{map}}"
      mark-center
      latitude="{{latitude}}"
      longitude="{{longitude}}"
      current-location
      disable-fullscreen-control
      disable-map-type-control
      disable-street-view-control
      api-key="[[apiKey]]"
      (google-map-ready)="_mapReady(evt)"
      >
    </map-google>
  </div>
  <button class="choose ui-button ui-button--block ui-button--colored" (click)="_chooseClicked(evt)">[[button]]</button>
</div>

<!-- <ion-footer> -->
<!-- </ion-footer> -->
