<ion-header>
  <ion-toolbar>
    <button is="ion-button" backbutton slot="left">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title slot="title">Select Location</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-input id="search" type="text" value="{{search}}"></ion-input>
  </ion-item>
</ion-header>

<ion-content class="layout">
  <map-google
    id="map"
    class="flex"
    map="{{map}}"
    mark-center
    latitude="{{latitude}}"
    longitude="{{longitude}}"
    current-location
    disable-fullscreen-control
    disable-map-type-control
    disable-street-view-control
    api-key="[[apiKey]]"
    (google-map-ready)="_mapReady(evt)"
    (google-map-center-changed)="_centerChanged(evt)"
    >
  </map-google>
</ion-content>

<ion-footer>
  <button is="ion-button" (click)="_chooseClicked(evt)" full large>Choose</button>
</ion-footer>
