<ion-header>
  <ion-toolbar>
    <button is="ion-button" backbutton slot="left">
      <ion-icon name="arrow-back-outline" role="img" class="icon-ios ion-ios-arrow-back-outline item-icon" aria-label="arrow-back-outline"></ion-icon>
    </button>
    <ion-title slot="title">[[title]]</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-input id="search" type="search" value="{{search}}"></ion-input>
    <!-- <ion-searchbar id="search" type="search" placeholder="Search" value="{{search}}"></ion-searchbar> -->
  </ion-item>
</ion-header>

<ion-content class="layout">
  <map-google
    id="map"
    class="flex"
    style="height: 100%"
    zoom="18"
    map="{{map}}"
    mark-center
    latitude="{{latitude}}"
    longitude="{{longitude}}"
    current-location
    disable-fullscreen-control
    disable-map-type-control
    disable-street-view-control
    api-key="[[apiKey]]"
    (google-map-ready)="_mapReady(evt)"
    >
  </map-google>
</ion-content>

<ion-footer>
  <button is="ion-button" (click)="_chooseClicked(evt)" full large>Choose</button>
</ion-footer>
